
/*General Settings*/
.container {
    width: 100%;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
h1, h2, h3, h4, p {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    font-size: 5em;
    letter-spacing: 20;
    font-weight: 800;
}
h2 {
    font-size: 3em;
    font-weight: 300;
}
h3 {
    font-size: 2em;
    font-weight: 300;
}
h4 {
    font-size: 1.5em;
    font-weight: 800;
}
p {
    font-size: 1.5em;
    font-weight: 300;
}
a {
    color: #FF003E;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: #A30028;
    font-weight: 600;
    text-decoration: none;
}
/*Navigation*/
.navbar {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0px;
    margin: 0px;
}
.navbar-brand {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.navbar-brand img {
    max-height: 75px;
}

/*Jumbotron*/
.jumbotron {
    background-image: url("/Users/TerriLeeTaylor/Desktop/LA Bus Tracker/Files/map-bg.png");
    background-repeat: no-repeat; 
    text-align: center;
    background-attachment: fixed;
    height: 100vh;
}
#fade {
    background-image: url("/Users/TerriLeeTaylor/Desktop/LA Bus Tracker/Files/fade.png");
    background-repeat: no-repeat; 
    background-position: bottom center;
    height: 100vh;
}
#introText {
    margin-bottom: 10vh;
}
#Mockups {
    position: relative;
}
#iPad {
    animation: fadeInleft 2.5s;
    max-height: 75vh;
}
#iPhone {
    animation: fadeInRight 2.5s;
    max-height: 75vh;
    position: absolute;
    bottom: 0;
}

@keyframes fadeInleft {
    from { transform: translateX(-100vh);}
    to   { transform: translateX(0px);}
}
@keyframes fadeInRight {
    from { transform: translateX(100vh);}
    to   { transform: translateX(0px);}
}

/*Second Panel*/
#description {
    padding: 10vh;
    background-color: white;
    display: flex;
}
#descriptionText {
    flex-grow: 1;
}
#buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn {
    background-color: #FF003E;
    border: none;
    color: white;
    font-weight: bold;
    min-height: 50px;
    min-width: 300px;
    display: inline-block;
    text-transform: uppercase;
}
.btn h4 {
    font-weight: 800;
}

/*Third Panel*/
#features {
    background-image: url("/Users/TerriLeeTaylor/Desktop/LA Bus Tracker/Files/features-bg.png");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: auto;
}
#features h2 {
    color: #FEFEFE;
}
#track, #schedule, #reload {
    position: relative; /* Helps us control overlap */
    padding-left: 60px; /* Creates space for the Phone Icon */
    margin: 10vh 0 10vh 10vh;
  }

#track:after {
    content: '\f14e';
    font-size: 50px;
    font-family: fontAwesome;
    background: -webkit-linear-gradient(#FF7B00, #FF003E);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    position: absolute;
    left: 0px; /* Adjust as needed */
    top: -20px; /* Adjust as needed */
  }

#schedule:after {
    content: '\f017';
    font-size: 50px;
    font-family: fontAwesome;
    background: -webkit-linear-gradient(#FF7B00, #FF003E);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    position: absolute;
    left: 0px; /* Adjust as needed */
    top: -20px; /* Adjust as needed */
  }

#reload:after {
    content: '\f09d';
    font-size: 40px;
    font-family: fontAwesome;
    background: -webkit-linear-gradient(#FF7B00, #FF003E);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    position: absolute;
    left: 0px; /* Adjust as needed */
    top: -10px; /* Adjust as needed */
  }
#screenshotsWrapper {
    padding: 0px;
}

/*Fourth Panel*/
#action {
    background-image: url("/Users/TerriLeeTaylor/Desktop/LA Bus Tracker/Files/action-bg.png");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    color: white;
    text-align: center;
    padding: 25vh 0vh;
}
#AppStoreBadge {
    max-height: 50px;
    margin: 10vh 0vh;
}
footer p {
    font-size: 1em;
    margin: 5px 0px;
}
footer {
    background-color: #222222;
    color: white;
}

/*Mobile Screens*/
@media only screen and (max-width : 768px) {
    /*Fixed Logo*/
    .navbar .container-fluid{
        padding: 0px;
    }
    #introText {
       margin-top: 15vh;
    }
    /*Jumbotron*/
    #Mockups {
        padding: 0% 10%;
    }
    #iPhone {
        max-width: 25%;
    }
    #description {
        display: block;
        font-size: .80em;
        padding: 10%;
        text-align: center;
    }
    #descriptionText {
        margin-top: 10%;
    }
    
    /*Features*/
    #track, #schedule, #reload{
        margin: 10%;
        font-size: .8em
    }
    
    /*Fourth Panel*/
    #action {
        font-size: .8em;
    }
      
}
